.step-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 0;
    padding: 10px;
    width: 460px;
}

.step-number {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-description {
    margin-left: 10px;
    width: 400px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Размер и форма стрелочки */
    border-right: 10px solid transparent;
    border-top: 15px solid #333; /* Цвет стрелочки */
}